@font-face {
  font-family: "Harlow Solid";
  src: url("HarlowSolid.eot");
  src: url("HarlowSolid.eot?#iefix") format("embedded-opentype"),
    url("HarlowSolid.woff2") format("woff2"), url("HarlowSolid.woff")
    format("woff"), url("HarlowSolid.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
