@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Harlow Solid";
  src: url("/src/assets/font/Harlow/HarlowSolid.eot");
  src: url("/src/assets/font/Harlow/HarlowSolid.eot?#iefix")
    format("embedded-opentype"),
    url("/src/assets/font/Harlow/HarlowSolid.woff2") format("woff2"),
    url("/src/assets/font/Harlow/HarlowSolid.woff") format("woff"),
    url("/src/assets/font/Harlow/HarlowSolid.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Nexa";
  src: url("/src/assets/font/Nexa/Nexa-Light-Italic.eot");
  src: url("/src/assets/font/Nexa//Nexa-Light-Italic.eot?#iefix")
    format("embedded-opentype"),
    url("/src/assets/font/Nexa//Nexa-Light-Italic.woff2") format("woff2"),
    url("/src/assets/font/Nexa//Nexa-Light-Italic.woff") format("woff");
  font-display: swap;
}

:root {
  --textColor: #908dff;
  --colorBackground: #1e1d38;
}

* {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  height: 100%;
  max-width: 1160px;
  background-image: url(assets/images/bg_smooth-operator.png);
  background-repeat: repeat;
  background-position: center;
  background-color: #1e1d38;
  margin: 0 auto;
}
h1 {
  font-family: "Harlow Solid", sans-serif;
  font-size: 48px;
  color: #c984ff;
  margin: 20px 0 30px;
}
h2 {
  font-family: "Nexa", sans-serif;
  font-size: 48px;
  color: #f2ebf8;
  margin: 20px 0 30px;
}
h3 {
  font-family: "Nexa", sans-serif;
  font-size: 30px;
  color: #c984ff;
  margin: 0 0 10px;
}
h4 {
  font-family: "Nexa", sans-serif;
  font-size: 20px;
  color: #c984ff;
  text-align: center;
  margin: 10px 20px;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #908dff;
  line-height: 20px;
}
nav {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
nav button {
  font-family: "Nexa", sans-serif;
  font-size: 24px;
  color: #c984ff;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.alphabetSpace {
  display: flex;
  justify-content: space-between;
}
article img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
article a {
  bottom: auto;
}
.background {
  display: flex;
  flex-direction: column;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
button {
  height: 25px;
  font-size: 20px;
}
.totalCocktail {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 15px;
  justify-self: center;
  margin: 0 20px;
}
.infoCocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 5px;
  background-color: #1e1d38;
  border-radius: 8px;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}
.infoCocktail img {
  max-height: 100%;
  max-width: 100%;
}

.infoCocktail button {
  min-height: 30px;
  margin: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: 100;
  color: #908dff;
  justify-content: center;
  width: 75%;
  border-radius: 8px;
  border: 2px rgb(243, 166, 191);
  background-color: rgba(243, 166, 190, 0.0);
}
.infoCocktail button:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .totalCocktail {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
  }

  .infoCocktail h2 {
    font-size: 3vh;
  }
}
