select {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #908dff;
  background-color: #1e1d38;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
  appearance: none;
  cursor: pointer;
}

label {
  position: relative;
}
/* label:after {
  content: "<>";
  font: 12px "Consolas", monospace;
  color: #666;
  transform: rotate(90deg);
  right: 15px;
  top: 15px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;
} */
