header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
header button {
  background-color: rgba(184, 92, 255, 0);
  height: auto;
  width: auto;
  padding: 15px 30px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0); /*je fais de cette façon pour que le bouton n'ait pas de changement de position lors du hover*/
}
header a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #908dff;
  text-decoration: none;
}
header button:hover {
  border: 2px solid #908dff;
  border-radius: 8px;
  background-color: rgba(184, 92, 255, 0);
  cursor: pointer;
}
header h1 {
  font-family: "Harlow Solid", sans-serif;
  color: #c984ff;
  font-size: 36px;
  line-height: 1.7;
  text-shadow: 0 0 30px rgba(184, 92, 255, 0.8);
}
header img {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  header {
    margin: 0;
  }
  header h1 {
    font-size: 60px;
  }
  header a {
    font-size: 24px;
  }
}
